<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title -->
    <title><%= htmlWebpackPlugin.options.title %> | <%= htmlWebpackPlugin.options.company %></title>
    <!-- /Title -->
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /Viewport -->
    <!-- Meta -->
    <meta name=description content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>"/>
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:image" content="/assets/img/iqhub-snow-removing-banner.png"/>
    <!-- /Meta -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/iqhub-favicon-w32.png">
    <link rel="apple-touch-icon" href="/assets/img/iqhub-favicon-w180.png">
    <!-- /Favicons -->
</head>
<body>
<div id="app"></div>
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77334417-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-77334417-4');
</script>
<!-- /Google Analytics -->
</body>
</html>